    .snup_title { font-size:18px; font-weight: 400;; color: #353535; }
    .snup_custom_title { font-size:18px; font-weight: 400;; color: #353535; }
    .snup_text { font-size:16px; }
    .snup_published { font-size:14px; }
    .snup_day { font-size:14px; }
    .snup_time { font-size:14px; }
    .snup_noplan { font-size:14px; }
    .snup_title_dash { font-size:16px; font-weight: 400; color: #353535; }
    .snup_time_dash { font-size:12px; }
    .snup_published_version { font-size:14px; }

    .snup_label_text { font-size:14px; }
    .snup_label_info { font-size:12px; }
    ul.snup_ul { list-style-type: none; }

    